@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

.form{
    width: 22.5rem;
    margin: 0 auto;
}
.dFlex{
    position: relative;
}
.btnApply{
    position: absolute;
    right: 0;
    height: 3.4375rem;
    width: 5.625rem;
    border-radius: 0 .625em .625em 0;
    background-color: #E63939;
    color: white;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}
input[type="number"]{
    width: 100%;
    height: 3.4375rem;
    border-radius: .625em;
}
.discount{
    font-size: 1rem;
    font-family: 'inter', sans-serif;
    font-weight: 500;
}
.dflex, .sec2Location{
    display: flex;
    align-items: center;
}
.iconos{
    text-align: center;
}
.dflexImagenes{
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
}
.pLocation{
    font-family: 'inter', sans-serif;
    font-size: .9375rem;
    font-weight: 500;
    color: #747474;
}
.d-block{
    display: block;
    color: black;
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.dgrid{
    display: grid;
    grid-template-columns: repeat(4, 90px);
}
.dgrid > div{
    text-align: center;
}
.dgrid > div p:nth-child(2){
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: .75rem;
    color: #B1B1B1;
}
.dgrid > div p:nth-child(3){
    font-family: 'inter', sans-serif;
    font-weight: 600;
    font-size: .75rem;
}
img{
    max-width: 100%;
}
.precio, .descuento, .total{
    display: flex;
    justify-content: space-between;
}
.precio, .descuento{
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.descuento{
    color: #FF4E4E;
}
.total{
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
}
.lineaSeparador{
    border: 2px solid #e2e2e2;
}
.back{
    display: inline-block;
    width: 174px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: .625em;
    border: 2px solid #5E81F7;
    color: #5E81F7;
}
.continue{
    background-color: #5E81F7;
    border-radius: .625em;
    width: 174px;
    height: 55px;
    line-height: 55px;
    color: white;
    border: 0;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
.sec2Location, .dgrid, .contentPrecio{
    padding: 1em;
}