@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
*{
    box-sizing: border-box;
}
.barraProgreso{
    display: flex;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}
.barraProgreso .progreso1{
    width: 40px;
    height: 40px;
    border: 2px solid #5E81F7;
    border-radius: 2.5em;
    text-align: center;
}
.progreso{
    width: 40px;
    height: 40px;
    border-radius: 2.5em;
    text-align: center;
    border: 1px solid #E2E2E2;
}
.progreso p:first-child, .progreso1 p:first-child{
    line-height: .3125em;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
}
.progreso1 p:first-child, .progreso1 p:nth-child(2){
    color: #5E81F7;
}
.progreso p:nth-child(2), .progreso1 p:nth-child(2){
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: .75rem;
}
.progreso p:nth-child(2), .progreso p:first-child{
    color: #E2E2E2;
}
.separador{
    border: 1px solid #E2E2E2;
    transform: rotate(0deg);
    width: 4.3125em;
    height: 0px;
    position: relative;
    top: 20px;
}